<% define "root/index.html" %>
<% template "base_head" .%>

<h3 class="text-center">
  <span class="oi oi-aperture"></span>
  Forum Publica
</h3>

<div class="container">
  <div class="row">
    <div class="col-6 offset-md-3 text-center">

      <h6>Jita overprice</h6>

      <table class="table table-striped table-sm">
        <% range $index, $e := .DeviationsOver %>
        <tr>
          <td class="text-left">
            <pre><%$e.Description%></pre>
          </td>
        </tr>
        <% end %>
      </table>

      <h6>Jita underprice</h6>

      <table class="table table-striped table-sm">
        <% range $index, $e := .DeviationsUnder %>
        <tr>
          <td class="text-left">
            <pre><%$e.Description%></pre>
          </td>
        </tr>
        <% end %>
      </table>


      <sub>Deviation = Jita sell price / (manufacturing+invent cost); Deviation>3 or Deviation<0.75</sub>

      <hr/>
      <p>
        Some EVE tools.
      </p>

      <p>
        Sources: <a target="_blank" href="https://github.com/sergey-koumirov/ForumPublica">GitHub</a>
      </p>
    </div>
  </div>
</div>

<% template "base_foot" %>
<% end %>
