<% define "app/chars.html" %>
<% template "base_head" .%>

<h5>Chars <a href="/app/chars/add"><span class="oi oi-plus"></span></a></h5>
<div class="container">
  <% range $index, $e := .chars %>
  <table class="table table-sm table-striped">
  <tr>
    <td class="text-left">
      <img width="32" height="32" src="https://image.eveonline.com/Character/<%$e.ID%>_32.jpg">
      <% $e.Name %>
      (<% $e.ID %>)
    </td>
  </tr>
  <tr>
    <td><% $e.VerScopes %></td>
  </tr>
  <tr>
    <td>
      <a href="/app/char/<%$e.ID%>/refresh_skills">
        <span class="oi oi-loop-circular"></span>
        Refresh Skills
      </a>
      <button class="btn btn-info btn-sm"
              type="button"
              data-toggle="collapse"
              data-target="#cs<%$e.ID%>"
              aria-expanded="false"
              aria-controls="cs<%$e.ID%>">
        Skills (<%len $e.Skills%>)
      </button>
      <div class="collapse" id="cs<%$e.ID%>">
        <% range $si, $s := $e.Skills %>
        <span class="badge badge-info">
          <%$s.Name%> <%$s.Level%>
        </span>
        <% end %>
      </div>
    </td>
  </tr>
  </table>
  <% end %>
</div>

<% template "base_foot" %>
<% end %>
