{{ define "app/sap.html" }}
{{ template "base_head" .}}

<h5>
  Science & Production
  <a href="/app/sap/refresh">
    <span class="oi oi-loop-circular {{.timeout | TimeoutClass}}"></span>
  </a>
  <sup class="{{.timeout | TimeoutClass}}">{{.timeout}}</sup>
</h5>

<table class="table table-sm table-striped">
  <tr>
    <th class="text-center w80"></th>
    <th class="text-center w80"></th>
    <th class="text-center w24"></th>
    <th class="text-center">Blueprint</th>
  </tr>

  {{ range $index, $c := .chars }}
  <tr>
    <th colspan="4">{{$c.Name}}</th>
  </tr>
  {{ range $index, $e := $c.Jobs }}
  <tr>
    <td class="text-right">{{$e.Rest}}</td>
    <td class="text-right"><span class="gray">x</span>{{$e.Runs}}</td>
    <td class="text-right"><img class="w24 a{{$e.ActivityId}}" src="/assets/images/activities/{{$e.ActivityId}}.png"></td>
    <td class="text-left">
      <img class="w24" src="https://imageserver.eveonline.com/Type/{{$e.BlueprintTypeId}}_32.png">
      {{$e.BlueprintName}}
    </td>
  </tr>
  {{ end }}
  {{ end }}

</table>

{{ template "base_foot" }}
{{ end }}
