<% define "app/sap_a5.html" %>

<tr>
  <td class="text-right w60"><%.Rest%></td>
  <td class="text-right w60">
    <span class="gray">x</span>
    <%.Runs%>
  </td>
  <td class="text-right w24"><img class="w24 a<%.ActivityId%>" src="/assets/images/activities/<%.ActivityId%>.png"></td>
  <td class="text-left">
    <img class="w24" src="https://imageserver.eveonline.com/Type/<%.BlueprintTypeId%>_32.png">
    <%.BlueprintName%>
  </td>
  <td class="text-left">
    <span class="gray">
      <%.LicensedRuns%> R
    </span>
  </td>
</tr>

<% end %>
