<%define "base_head"%>
<!doctype html>
<html>
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83434041-4"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-83434041-4');
      </script>

      <title><% .Title %></title>
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
      <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
      <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.css"/>
      <link rel="stylesheet" href="/assets/css/main.css"/>
      <link rel="stylesheet" href="/assets/css/toastify.css"/>

      <script src="/assets/js/jquery-slim.min.js"></script>
      <script src="/assets/js/bootstrap.js"></script>
      <script src="/assets/js/auto-complete.min.js"></script>
      <script src="/assets/js/clipboard.js"></script>
      <script src="/assets/js/axios.min.js"></script>
  </head>
  <body>

    <div class="container">
      <% template "menu" .%>
    </div>

<%end%>
