<% define "app/market_items/_add_modal.html" %>
<modal v-if="showAddModal" @close="CloseAddModal()">
    <div slot="body">
        <type-select label="Type" v-on:type-selected="TypeSelected($event)" filter="item_type"></type-select>
    </div>
    <div slot="footer">
        <button class="btn btn-primary btn-sm modal-default-button" @click="Add()">Add</button>
        <button class="btn btn-default btn-sm modal-default-button" @click="CloseAddModal()">Close</button>
    </div>
</modal>
    
<% end %>