<% define "app/market_items/_where_modal.html" %>
<modal v-if="showWhereModal" @close="CloseWhereModal()">
    <div slot="body">
        
        <div class="form-group">
            <label>API Character</label>
            <select class="form-control form-control-sm" v-model="whereModal.characterId">
            <option value="">---None---</option>
            <option v-for="option in data.Characters" v-bind:value="option.ID">
                    {{ option.Name }}
                </option>
            </select>
        </div>

        <location-select label="Where" :character-id="whereModal.characterId" v-on:type-selected="LocationSelected($event)"></location-select>

        <location-select label="Warehouse" :character-id="whereModal.characterId" filter="stations" v-on:type-selected="WarehouseSelected($event)"></location-select>

    </div>
    <div slot="footer">
        <button class="btn btn-default btn-sm modal-default-button" @click="CloseWhereModal()">Close</button>
        <button class="btn btn-primary btn-sm modal-default-button" @click="AddWhere()">Add</button>
    </div>
</modal>
    
<% end %>