<% define "app/market_items/_where_modal.html" %>
<modal v-if="showWhereModal" @close="CloseWhereModal()">
    <div slot="body">
        
        <location-select label="Where" v-on:type-selected="LocationSelected($event)"></location-select>

        <location-select label="Warehouse" v-on:type-selected="WarehouseSelected($event)"></location-select>

    </div>
    <div slot="footer">
        <button class="btn btn-default btn-sm modal-default-button" @click="CloseWhereModal()">Close</button>
    </div>
</modal>
    
<% end %>