<% define "app/market_items/index.html" %>
<% template "base_head" .%>
<div id="market-items" class="market-items" market-items="<% .MarketItems | Marshal %>" chars="<% .chars | Marshal %>" v-cloak>

  <h5>
    Market
    <span class="oi oi-plus pointer" v-on:click="OpenAddModal()"></span>  
  </h5>

  <pagination :total="data.Total" :current="data.Page" :pp="data.PerPage"></pagination>

  <table class="table table-striped table-sm">
    <tr>
      <th>[{{data.Total | number}}]</th>
      <th width="400px">
        <b>What</b>
        <br/>
        Where / Store
      </th>
      <th class="text-center">My / Lowest / Unit price</th>
      <th class="text-center">Lowest Price History</th>
      <th class="text-center">Market / Store Qty / 90d </th>
      <th class="text-center">Sold last 90d</th>
      <th class="text-center">
        Market volume 90d: <span class="my">My</span> / <span class="not-my">Not My</span>
      </th>
      <th></th>
    </tr>
    <tr v-for="record in data.Records">
      <td>
        <img align="left" width="48" height="48" :src="'https://images.evetech.net/types/'+record.TypeID+'/icon?size=64'">
      </td>
      <td>
        <div class="round-border pointer" v-on:click="OpenWhereModal(record.ModelID)" title="Add sell location">
          <span class="oi oi-plus"></span>
          <span class="oi oi-map-marker"></span>
        </div>

        <div class="round-border pointer" v-on:click="OpenStoreModal(record.ModelID)" title="Add warehouse location">
          <span class="oi oi-plus"></span>
          <span class="oi oi-box"></span>
        </div>

        <span class="oi oi-bar-chart pointer" v-on:click="OpenCharPopup($event, record.TypeID)"></span>

        <b>{{record.TypeName}}</b>
        <span class="gray">[{{record.TypeID}}]</span>

        <div class="grid-container">
          <template v-for="location in record.Locations">
            <img class="icon-suggestion" width="16" height="16" :src="'/assets/images/'+location.Type+'.png'" />
            <span class="gray">{{location.CharacterName}}</span>
            <span class="shortened">{{location.Name}}</span>
            <span class="oi oi-delete pointer" @click="DeleteMarketLocation(record.TypeID, location.ID)"></span>
          </template>
        </div>

        <hr class="divider" v-if="record.Stores.length>0">

        <div class="grid-container" v-if="record.Stores.length>0">
          <template v-for="store in record.Stores">
            <img class="icon-suggestion" width="16" height="16" :src="'/assets/images/'+store.Type+'.png'" />
            <span class="gray">{{store.CharacterName}}</span>
            <span class="shortened">{{store.Name}} [{{store.Qty | number}}]</span>
            <span class="oi oi-delete pointer" @click="DeleteMarketStore(record.ModelID, store.ID)"></span>
          </template>
        </div>

      </td>

      <td class="text-right">
        <div :class="{ 'orange-square': record.LowestPrice < record.MyPrice || record.MyPrice==0, 'green-square': record.LowestPrice >= record.MyPrice && record.MyPrice>0 }">
          <span v-if="record.MyPrice>0">{{record.MyPrice | float}}</span>
        </div>
        <div class="gray-square">
          <span v-if="record.LowestPrice>0">{{record.LowestPrice | float}}</span>
        </div>
        <div class="gray-square gray-gray-square">
          <span v-if="record.UnitPrice>0">{{record.UnitPrice | float}}</span>
        </div>
      </td>

      <td>
        <chart-price :data="record.LowestHist" :bottom="record.BottomPrice" :unit="record.UnitPrice"></chart-price>
      </td>

      <td class="text-right">
        <div :class="{ 'orange-square': record.MyVol == 0, 'green-square': record.MyVol > 0 }">
          <span v-if="record.MyVol>0">{{record.MyVol | number}}</span>
        </div>
        <div class="gray-square">
          <span v-if="record.StoreVol>0">{{record.StoreVol | number}}</span>
        </div>
        <div class="gray-square gray-gray-square">
          <span v-if="record.D90Vol>0">{{record.D90Vol | number}}</span>
        </div>
      </td>

      <td>
        <chart-sold :data="record.D90Data"></chart-sold>
      </td>

      <td>
        <chart-volume :data="record.VolumeHist"></chart-volume>
      </td>

      <td class="text-right">
        <a :href="`/app/market_item/${record.ModelID}/delete`"><span class="oi oi-delete"></span></a>
      </td>
    </tr>
  </table>

  <open-market v-bind:chars="chars"></open-market>

  <% template "app/market_items/_add_modal.html" . %>
  <% template "app/market_items/_where_modal.html" . %>
  <% template "app/market_items/_store_modal.html" . %>

</div>

<script src="/assets/js/d3.v5.min.js"></script>
<script src="/assets/js/vue.js"></script>
<script src="/assets/js/toastify.js"></script>
<script src="/assets/js/component.modal.js"></script>
<script src="/assets/js/component.type-select.js"></script>
<script src="/assets/js/component.location-select.js"></script>
<script src="/assets/js/component.pagination.js"></script>
<script src="/assets/js/component.chart-sold.js"></script>
<script src="/assets/js/component.chart-price.js"></script>
<script src="/assets/js/component.chart-volume.js"></script>
<script src="/assets/js/component.open-market.js"></script>
<script src="/assets/js/vue.filters.js"></script>
<script src="/assets/js/controller.market_items.js"></script>


<% template "base_foot" %>
<% end %>
