<% define "app/market_items/index.html" %>
<% template "base_head" .%>
<div id="market-items" market-items="<% .MarketItems | Marshal %>" v-cloak>

  <h5>
    Market
    <span class="oi oi-plus pointer" v-on:click="OpenAddModal()"></span>  
  </h5>

  <pagination :total="data.Total" :current="data.Page" :pp="data.PerPage"></pagination>

  <table class="table table-striped table-sm">
    <tr>
      <th>What</th>
      <th>Where</th>
      <th>Statistics</th>
      <th>My Orders</th>
      <th>90d Sells</th>
      <th></th>
    </tr>
    <tr v-for="record in data.Records">
      <td>
        {{record.TypeName}}
        <div class="round-border pointer" v-on:click="OpenWhereModal(record.Model.ID)">
            <span class="oi oi-plus"></span>
            <span class="oi oi-map-marker"></span>
        </div>
      </td>
      <td>

        <ul class="simple-list">
          <li v-for="location in record.Locations">
            <img class="icon-suggestion" width="16" height="16" :src="'/assets/images/'+location.Type+'.png'" />
            {{location.Name}}
            <span class="oi oi-delete pointer" @click="DeleteMarketLocation(record.Model.ID, location.ID)"></span>
          </li>
        </ul>

      </td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
        <a :href="`/app/market_item/${record.Model.ID}/delete`"><span class="oi oi-delete"></span></a>
      </td>
    </tr>
  </table>

  <% template "app/market_items/_add_modal.html" . %>
  <% template "app/market_items/_where_modal.html" . %>

</div>

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/component.modal.js"></script>
<script src="/assets/js/component.type-select.js"></script>
<script src="/assets/js/component.location-select.js"></script>
<script src="/assets/js/component.pagination.js"></script>
<script src="/assets/js/vue.filters.js"></script>
<script src="/assets/js/controller.market_items.js"></script>


<% template "base_foot" %>
<% end %>
