body{
  font-size: 12px;
}

table td, table th{
  font-size: 12px;
}

/*  ICONS */
.oi{
  color: #ffc107;
}

.oi.admin{
  color: #ff0707;
}

/* MENU */

.menu-bar{
  float: right;
  position: absolute;
  top: 0px;
  right: 8px;
}

img.w24{
  width: 24px;
  height: 24px;
  background: #cccccc;
}

.table.table-sm td{
  padding-top: 0;
  padding-bottom: 0;
}

.gray{
  color: #aaaaaa;
}

.w80{
  width: 80px;
}

.w24{
  width: 24px;
}
