[v-cloak] > * { display:none }

body{
  font-size: 12px;
}

.pointer{
    cursor: pointer;
}

table td, table th{
  font-size: 12px;
}

/*  ICONS */
.oi{
  color: #ffc107;
}

.grayed .oi{
  color: #d0d1a7;
}

.oi.admin{
  color: #ff0707;
}

.oi-btn{
  cursor: pointer;
  color: #ffc107;
  border: 1px solid #ffdd80;
  margin-left: 3px;
  margin-right: 1px;
  border-radius: 3px;
  height: 15px;
  padding: 1px;
}

/* MENU */

.menu-bar{
  float: right;
  position: absolute;
  top: 0px;
  right: 8px;
}

img.w24{
  width: 24px;
  height: 24px;
}

img.w24.a1{
  background: #eeaa00;
}

img.w24.a3, img.w24.a4, img.w24.a5, img.w24.a8{
  background: #4080dc;
}

.table.table-sm td{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.table-cut td{
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}

.table-cut td.shy{
  opacity: 0.35;
}

.gray{
  color: #aaaaaa;
}

.grayed{
  color: #ccccd0;
}

.orange{
  color: #eeaa00;
}

.blue{
  color: #4080dc;
}

.w80{
  width: 80px;
}

.w60{
  width: 60px;
}

.w24{
  width: 24px;
}

.container{
  max-width: 100%;
}

.construction{
    display: inline-block;
    width: 100%;
}

.construction select.form-control-sm{
  height: calc(1.2rem + 2px) !important;
  padding: 0;
}

.construction input.form-control-sm{
  height: calc(1.2rem + 2px) !important;
  padding: 0;
}

.construction .columns{
    display: flex;
    width: calc(100% - 20px);
}

.construction .bordered{
    border: 1px solid #A0C0ff;
    border-radius: 16px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    margin-left: 8px;
    min-width: 324px;
}

.construction .bordered.x2{
    width: 668px;
}

.two-columns{
    column-count: 2;
}

.construction .bordered.wide{
    min-width: 450px;
}

.construction .bpo{
    position:relative;
    border: 1px solid #A0C0ff;
    border-radius: 8px;

    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 4px;

    padding-left: 4px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;

    overflow:auto;

    font-size: 12px;
}

.construction .bpo-item{
    height: 64px;
}

.construction .bpo-item.t2{
  height: 84px;
}

.construction .component-item{
    min-height: 48px;
}

.construction .component-item .runs{
  margin-top: 38px;
  text-align: right;
}

.construction .component-item .runs .run{
  border: 1px solid #f0f0f0;
  margin: 2px;
  padding-right: 4px;
  border-radius: 3px;
  height: 21px;
}
.construction .component-item .runs .me{
  border: 1px solid #C0CCDF;
  border-radius: 3px;
  background: #D0DCEF;
  color: #ffffff;
  font-size: 10px;
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  position: absolute;
  left: 24px;
  width: 34px;
  text-align: center;
}

.construction .component-item .runs .te{
  border: 1px solid #D0DDEF;
  border-radius: 3px;
  background: #E0ECFF;
  color: #ffffff;
  font-size: 10px;
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  position: absolute;
  left: 64px;
  width: 34px;
  text-align: center;
}

.construction .component-item .runs .citadel{
  position: absolute;
  left: 104px;
  width: 34px;
}

.construction .component-item .runs .rig{
  position: absolute;
  left: 124px;
  width: 34px;
}

.construction .component-item .runs .space{
  position: absolute;
  left: 134px;
  width: 34px;
}

.construction .component-item .runs .delete{
  float: left;
  margin-top: 1px;
  margin-left: 1px;
}

.construction .bpo .controls{
  position: absolute;
  top: 23px;
  right: 5px;
}

.construction .component-item .controls{
  position: absolute;
  top: 19px;
  left: 41px;
}

.construction .component-item .time{
  position: absolute;
  top: 23px;
  right: 81px;
  color: #A0C0ff;
}

.construction .bpo-item .right-top{
    position: absolute;
    right: 6px;
    top: 3px;
    cursor: pointer;
    color: #A0C0ff;
}

.construction .bpo .qty{
    float: right;
    position: absolute;
    top: 23px;
    right: 25px;
}

.construction .bpo img{
    margin: 0px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.construction .bpo .name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 40px;
    width: 256px;
}

.construction .bpo .invent{
    clear: both;
    position: absolute;
    top: 63px;
    left: 4px;
}

.construction .bpo .copy{
  clear: both;
  position: absolute;
  top: 43px;
  left: 4px;
}

.form-control.sm{
    text-align: right;
    height: auto;
    padding: 0;
}

.form-control.sm-text{
    text-align: left;
    height: auto;
    padding: 0;
}

img.loading{
  position: absolute;
  top: 0;
  left: 0;
}


.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

.type-select input{
  background: #ffffb0;
}

.type-select input:focus{
  background: #fffff0;
}

.badge.badge-light.A{
  color: red;
}

.badge.badge-light.U{
  color: dark-gray;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .25);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 5px 0;
  padding: 2px;
}

.modal-footer {
  margin: 5px 0;
  padding: 2px;
}

.modal-default-button {
  float: right;
  margin-left: 20px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.me-list label{
    border: 1px solid #60accf;
    border-radius: 3px;
    background: #60a0ff;
    color: #ffffff;
    font-size: 12px;
    width: 32px;
}
.me-list input{
    vertical-align: top;
    margin-right: 4px;
}

.popup{
    padding-left: 4px;
    display: none;
    width: 200px;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #000000;
    font-size: 12px;
    z-index: 100;
}

.popup .close{
    font-size: 14px;
}

.popup ul{
  margin: 0;
  padding: 2px;
}

.w100rest2x {
  width: calc(100% - 1010px);
}

.w100rest {
  width: calc(100% - 680px);
}

table.materials tr.highlighted{
  background: #ffeecc;
}

table.materials td.name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

table.sap td.paused{
  color: #D0D0D0;
  font-weight: bold;
}