body{
  font-size: 12px;
}

table td, table th{
  font-size: 12px;
}

/*  ICONS */
.oi{
  color: #ffc107;
}

.oi.admin{
  color: #ff0707;
}

/* MENU */

.menu-bar{
  float: right;
  position: absolute;
  top: 0px;
  right: 8px;
}

img.w24{
  width: 24px;
  height: 24px;
}

img.w24.a1{
  background: #eeaa00;
}

img.w24.a3, img.w24.a4, img.w24.a5, img.w24.a8{
  background: #4080dc;
}

.table.table-sm td{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.gray{
  color: #aaaaaa;
}

.orange{
  color: #eeaa00;
}

.blue{
  color: #4080dc;
}

.w80{
  width: 80px;
}

.w24{
  width: 24px;
}
