<% define "app/sap/a1.html" %>

<tr>
  <td class="text-right w60"><%.Rest%></td>
  <td class="text-right w60">
    <span class="gray">x</span>
    <%.Runs%>
  </td>
  <td class="text-right w24"><img class="w24 a<%.ActivityID%>" src="/assets/images/activities/<%.ActivityID%>.png"></td>
  <td class="text-left">
    <img class="w24" src="https://imageserver.eveonline.com/Type/<%.BlueprintTypeID%>_32.png">
    <%.BlueprintName%>
  </td>
  <td class="text-left <%if ne .Rest "00:00" %>shy<%end%>">
    <img class="w24" src="https://imageserver.eveonline.com/Type/<%.ProductTypeID%>_32.png">
    <%.ProductName%>
  </td>
</tr>

<% end %>
