<% define "app/sap/a5.html" %>

<tr>
  <td class="text-right w60 <% .Status %>"><%.Rest%></td>
  <td class="text-right w60">
    <span class="gray">x</span>
    <%.Runs%>
  </td>
  <td class="text-right w24"><img class="w24 a<%.ActivityID%>" src="/assets/images/activities/<%.ActivityID%>.png"></td>
  <td class="text-left">
    <img class="w24" src="https://images.evetech.net/types/<%.BlueprintTypeID%>/render?size=32">
    <%.BlueprintName%>
  </td>
  <td class="text-left">
    &nbsp;&nbsp;&nbsp;
    <span class="gray">
      <%.LicensedRuns%> runs copy
    </span>
  </td>
</tr>

<% end %>
