{
  "MODE": "debug",
  "PORT": "5000",
  "SITE": "localhost",
  "SSOClientID": "123",
  "SSOSecretKey": "321"
  "DBC": "user:password@/database",
  "SESSION_KEY": "secret session key",
  "SDE": "./sde-20180713-TRANQUILITY.zip"
}
