<% define "app/constructions/_bpos.html" %>

<h5>BPOs</h5>

<div class="bpo">
    Full Manufacturing Time
    <div class="time">
        {{ construction.MnfTime | seconds }}
    </div>
</div>
<div class="bpo">
    Default Bonuses:
    <br>
    <select class="form-control form-control-sm" v-model="construction.Model.CitadelType" v-on:change="SaveBonus()">
        <option value="">Citadel Type</option>
        <option value="Raitaru">Raitaru TE 15% ME 1%</option>
        <option value="Azbel">Azbel TE 20% ME 1%</option>
        <option value="Sotiyo">Sotiyo TE 30% ME 1%</option>
    </select>
    <select class="form-control form-control-sm" v-model="construction.Model.RigFactor" v-on:change="SaveBonus()">
        <option value="">Rig</option>
        <option value="T1">T1 Rig TE 20% ME 2%</option>
        <option value="T2">T2 Rig TE 24% ME 2.4%</option>
    </select>
    <select class="form-control form-control-sm" v-model="construction.Model.SpaceType" v-on:change="SaveBonus()">
        <option value="">Hi x 1.0</option>
        <option value="L">Low x 1.9</option>
        <option value="Z">Zero x 2.1</option>
    </select>
</div>

<type-select label="Type" v-on:type-selected="TypeSelected($event)" mode="compact" filter="blueprint"></type-select>

<div class="bpo bpo-item" v-for="bpo in construction.Blueprints">
    <img class="pointer copy-item"
      align="left"
      width="32" height="32"
      :data-clipboard-text="bpo.Model.TypeName"
      :src="'https://imageserver.eveonline.com/Type/'+bpo.Model.TypeId+'_32.png'">
    <div class="name">
      <span class="oi oi-bar-chart pointer" v-on:click="OpenCharPopup($event, bpo.Model.TypeId)"></span>
      {{bpo.Model.TypeName}}
    </div>

    <span v-on:click="DeleteBpo(bpo.Model.Id)" class="oi oi-delete right-top"></span>

    <div class="me pointer oi-btn" v-on:click="ChangeME(bpo.Model.Id, bpo.Model.ME)">
        ME<b>{{bpo.Model.ME}}</b>
    </div>

    <div class="qty">
        <span class="grayed">x</span> {{bpo.Model.Qty | number}}
    </div>
    <div class="controls pointer oi-btn" v-on:click="ChangeQty(bpo.Model.Id, bpo.Model.Qty)">
        <span class="oi oi-ellipses"></span>
    </div>

    <div class="invent" v-show="bpo.IsT2">
        <span class="grayed">Copy:</span>
        <span class="time">{{ bpo.CopyTime | seconds}}</span>
        <span class="grayed">x</span>
        {{bpo.InventCnt | number}} =
        <span class="time">{{ bpo.WholeCopyTime | seconds }}</span>
    </div>
<!--

    <div class="copy" ng-show="bpo.IsT2">
        <span class="grayed">Invent:</span>
        <span class="time">{{ FormatSeconds(bpo.InventTime)}}</span>
        <span class="grayed">x</span>
        {{bpo.InventCnt | number}} =
        <span class="time">{{ FormatSeconds(bpo.InventCnt * bpo.InventTime)}}</span>
    </div>

    <div class="copy" ng-show="bpo.IsT2">
        <span class="grayed">T1 BPO:</span>
        <span ngclipboard data-clipboard-text="{{bpo.BlueprintT1.BlueprintItem.name}}" class="glyphicon glyphicon-copy edit"></span>
        {{bpo.BlueprintT1.BlueprintItem.name}}
        <br>
        <span class="grayed">Decryptors:</span>
        <div ng-repeat="d in bpo.BlueprintT1.Materials">
            <span ng-click="OpenCharPopup($event, d.Type.id)" class="glyphicon glyphicon-stats edit"></span>&nbsp;
            <span ngclipboard data-clipboard-text="{{d.Type.name}}" class="glyphicon glyphicon-copy edit"></span>&nbsp;
            {{d.Type.name}} <span class="grayed">x</span> {{d.Quantity}}
        </div>

    </div> -->

</div>

<% end %>
