<% define "app/constructions/_bpos.html" %>

<h5>BPOs</h5>

<div class="bpo">
    Default Bonuses:
    <br>
    <select class="form-control form-control-sm" v-model="construction.Model.CitadelType" v-on:change="SaveBonus()">
        <option value="">Citadel Type</option>
        <option value="Raitaru">Raitaru TE 15% ME 1%</option>
        <option value="Azbel">Azbel TE 20% ME 1%</option>
        <option value="Sotiyo">Sotiyo TE 30% ME 1%</option>
    </select>
    <select class="form-control form-control-sm" v-model="construction.Model.RigFactor" v-on:change="SaveBonus()">
        <option value="">Rig</option>
        <option value="T1">T1 Rig TE 20% ME 2%</option>
        <option value="T2">T2 Rig TE 24% ME 2.4%</option>
    </select>
    <select class="form-control form-control-sm" v-model="construction.Model.SpaceType" v-on:change="SaveBonus()">
        <option value="">Hi x 1.0</option>
        <option value="L">Low x 1.9</option>
        <option value="Z">Zero x 2.1</option>
    </select>
</div>

<type-select label="Type" v-on:type-selected="TypeSelected($event)" mode="compact" filter="blueprint"></type-select>

<div class="bpo bpo-item" v-for="bpo in construction.Blueprints" v-bind:class="{t2: bpo.IsT2}">
    <img class="pointer copy-item main"
      align="left"
      width="32" height="32"
      :data-clipboard-text="bpo.Model.TypeName"
      :src="'https://images.evetech.net/types/'+bpo.Model.TypeID+'/bp?size=32'">
    <div class="name">
      <span class="oi oi-bar-chart pointer" v-on:click="OpenCharPopup($event, bpo.Model.TypeID)"></span>
      {{bpo.Model.TypeName}}
    </div>

    <span v-on:click="DeleteBpo(bpo.Model.ID)" class="oi oi-delete right-top"></span>

    <!-- <div class="me pointer oi-btn" v-on:click="ChangeME(bpo.Model.ID, bpo.Model.ME)">
        ME<b>{{bpo.Model.ME}}</b>
    </div> -->

    <div class="qty">
        <span class="grayed">x</span> {{bpo.Model.Qty | number}}
    </div>
    <div class="controls" v-on:click="ChangeQty(bpo.Model.ID, bpo.Model.Qty)">
        <span class="oi oi-ellipses pointer"></span>
    </div>

    <div class="invent" v-show="bpo.IsT2">
        <span class="grayed">Invent:</span>
        <span class="time">{{ bpo.InventTime | seconds}}</span>
        <span class="grayed">x</span>
        {{bpo.InventCnt | number}} =
        <span class="time">{{ bpo.InventCnt * bpo.InventTime | seconds}}</span>
    </div>

    <div class="copy" v-show="bpo.IsT2">
        <span class="grayed">Copy:</span>
        <span class="time">{{ bpo.CopyTime | seconds}}</span>
        <span class="grayed">x</span>
        {{bpo.InventCnt | number}} =
        <span class="time">{{ bpo.CopyTime * bpo.InventCnt | seconds }}</span>
    </div>

    <div class="t1" v-if="bpo.IsT2">
        <span class="grayed">T1 BPO:</span>
        <br>
        <img class="pointer copy-item" width="32" height="32"
        :data-clipboard-text="bpo.BlueprintTypeT1.Name"
        :src="'https://images.evetech.net/types/'+bpo.BlueprintTypeT1.ID+'/bp?size=32'">

        {{bpo.BlueprintTypeT1.Name}}
        <br>
        <span class="grayed">Decryptors:</span>
        <div v-for="d in bpo.T1Decryptors">
            <img class="pointer copy-item" width="32" height="32"
              :data-clipboard-text="d.Name"
              :src="'https://images.evetech.net/types/'+d.TypeID+'/icon?size=32'">
            <span class="oi oi-bar-chart pointer" v-on:click="OpenCharPopup($event, d.TypeID)"></span>
            {{d.Name}} 
            <span class="grayed">x</span> {{d.Quantity}}
        </div>
    </div>

</div>

<% end %>
