<% define "app/constructions/_components.html" %>

<h5>Build BPOs</h5>
<div class="two-columns">

<div class="bpo component-item"
     ng-class="bpo.ReadyQty >= bpo.Qty ? 'done' : ''"
     v-for="(bpo, index) in construction.Components">

    <img class="pointer copy-item"
      align="left"
      width="32" height="32"
      :data-clipboard-text="bpo.Model.TypeName"
      :src="'https://imageserver.eveonline.com/Type/'+bpo.Model.TypeId+'_32.png'">

    <div class="name">
        {{bpo.Model.TypeName}}
    </div>
    
    <div class="controls">
        <span class="oi oi-plus pointer" v-on:click="OpenRunModal(bpo)"></span>
        <!-- <span class="grayed" ng-show="bpo.RunQty>1">x {{bpo.RunQty}}</span> -->
    </div>

    <!-- <div class="me">
        ME {{bpo.ME}}
    </div> -->

    <!-- <div class="time">
        {{ bpo.MnfTime | seconds }}
    </div> -->

    <div class="qty">
        {{bpo.ReadyQty | number}} <span class="grayed">/</span> {{bpo.InProdQty | number}} <span class="grayed">/</span> {{bpo.Model.Qty | number}}
        <!-- <span ng-click="DeleteRuns(bpo.Runs)" class="glyphicon glyphicon-erase edit" ng-show="bpo.Runs.length>0"></span> -->
    </div>

    <% template "app/constructions/_runs.html" . %>
</div>

</div>
<% end %>
