<% define "app/constructions/_materials.html" %>
<h5>
    Materials
</h5>
<table class="table table-sm materials">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center">Vol m<sup>3</sup></th>
        <th class="text-center"><span class="grayed"><sub>price</sub></span>Cost</th>
        <th class="text-center">Need</th>
    </tr>
    <tr v-for="item in construction.Materials" v-bind:class="{grayed: !!item.Excluded}">
        <td>
            <span v-on:click="SetExcluded(item)" class="oi oi-eye pointer" v-if="!item.Excluded"></span>                    
            <span v-on:click="ResetExcluded(item)" class="oi oi-eye pointer" v-if="item.Excluded"></span>
            <span v-on:click="OpenCharPopup($event, item.Model.Id)" :data-clipboard-text="item.Qty" class="oi oi-bar-chart pointer copy-item"></span>                    
            <span v-on:click="HighlightRow($event)" :data-clipboard-text="item.Qty" class="oi oi-sun pointer copy-item"></span>
        </td>
        <td class="first">
            <img align="left" width="16" height="16" :src="'https://imageserver.eveonline.com/Type/'+item.Model.Id+'_32.png'">
        </td>
        <td class="name">
            {{item.Model.Name}}
        </td>
        <td class="over text-right">
            <span class="grayed"><sub>{{item.Model.Volume}}</sub></span> {{item.Volume | float}}
        </td>
        <td class="over text-right">
                <span class="grayed"><sub>{{item.Price | float}}</sub></span> {{item.Price*item.Qty | float}}
        </td>
        <td class="over text-right">
            {{item.Qty | number}}
            <span ng-click="HighlightRow($event)" ngclipboard :data-clipboard-text="item.Qty" class="glyphicon glyphicon-copy edit"></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="text-right">{{FullVol() | float}}</th>
        <th class="text-right">{{FullCost() | float}}</th>
        <td></td>
    </tr>

    <tr v-if="HasExcluded()">
        <td></td>
        <td></td>
        <td></td>
        <th class="text-right reded">{{PartialVol() | float}}</th>
        <th class="text-right reded">{{PartialPrice() | float}}</th>
        <td></td>
    </tr>

</table>

<% end %>