<% define "app/constructions/index.html" %>

<% template "base_head" .%>

<h5>
  Constructions
  <a href="/app/constructions/add"><span class="oi oi-plus"></span></a>
</h5>

<table class="table table-striped table-sm">
  <tr>
    <th></th>
    <th>ID</th>
    <th>Title</th>
  </tr>
  <% range $index, $cn := .constructions.Records %>
  <tr>
    <td>
      <a href="/app/construction/<% $cn.Model.Id %>">
        <span class="oi oi-pencil"></span>
        edit
      </a>
    </td>
    <td><% $cn.Model.Id %></td>
    <td><% $cn.Title %></td>
  </tr>
  <% end %>
</table>


<% template "base_foot" %>
<% end %>
