<% define "app/constructions/index.html" %>

<% template "base_head" .%>

<h5>
  Constructions
  <a href="/app/constructions/add"><span class="oi oi-plus"></span></a>
</h5>

<% .p.Render %>
<table class="table table-striped table-sm">
  <tr>
    <th>ID</th>
    <th>BPOs</th>
    <th></th>
  </tr>
  <% range $index, $cn := .constructions.Records %>
  <tr>
    <td>
      <a href="/app/construction/<% $cn.Model.ID %>">
        <span class="oi oi-pencil"></span>
        <% $cn.Model.ID %>
      </a>
    </td>
    <td>
      <ul class="list-group">
        <% range $i, $b := $cn.Blueprints %>
        <li class="list-group-item list-group-item-sm"><% $b.Model.Qty %> <span class="grayed">x</span> <% $b.Model.TypeName %></li>
        <% end %>
      </ul>
    </td>
    <td class="text-right">
      <a href="/app/construction/<% $cn.Model.ID %>/delete"><span class="oi oi-delete"></span></a>
    </td>
  </tr>
  <% end %>
</table>


<% template "base_foot" %>
<% end %>
