<% define "app/constructions/show.html" %>

<% template "base_head" .%>

<h5>
  <a href="/app/constructions">Constructions</a>
  &gt; [<% .construction.Model.Id %>]
</h5>

<div id="construction" class="construction"
  construction="<% .construction | Marshal %>"
  chars="<% .chars | Marshal %>"
  v-cloak>

    <img v-if="isLoading" class="loading" width="48" height="48" src="/assets/images/loading.gif">

    <div class="columns">
        <div class="bordered">
            <% template "app/constructions/_bpos.html" . %>
        </div>

        <div class="bordered">
            <% template "app/constructions/_components.html" . %>
        </div>

        <div class="w100rest">
            <div class="bordered">
                <% template "app/constructions/_materials.html" . %>
            </div>
            <div class="bordered">
                <% template "app/constructions/_expenses.html" . %>
            </div>
        </div>
    </div>

    <open-market v-bind:chars="chars"></open-market>

    <modal v-if="showMEModal" @close="showMEModal = false">
      <div class="me-list" slot="body">
        <label><input type="radio" value="0" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">0</span></label>
        <label><input type="radio" value="1" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">1</span></label>
        <label><input type="radio" value="2" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">2</span></label>
        <label><input type="radio" value="3" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">3</span></label>
        <label><input type="radio" value="4" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">4</span></label>
        <label><input type="radio" value="5" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">5</span></label>
        <label><input type="radio" value="6" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">6</span></label>
        <label><input type="radio" value="7" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">7</span></label>
        <label><input type="radio" value="8" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">8</span></label>
        <label><input type="radio" value="9" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">9</span></label>
        <label><input type="radio" value="10" v-model.number="ask.me" v-on:change="SaveME()"><span class="value">10</span></label>
      </div>
    </modal>

    <modal v-if="showQtyModal" @close="showQtyModal = false" class="bpo-modal">
        <div slot="body">
          <input class="form-control qty" type="number" v-model.number="ask.qty">
        </div>
        <div slot="footer">
          <button class="btn btn-primary btn-sm modal-default-button" @click="SaveQty()">Save</button>
          <button class="btn btn-default btn-sm modal-default-button" @click="CloseQty()">Close</button>
        </div>
    </modal>

    <modal v-if="showRunModal" @close="showRunModal = false" class="run-modal">
        <div slot="body">
            <div class="form-group">
                ME: 
                <label><input type="radio" value="0" v-model.number="ask.me"><span class="value">0</span></label>
                <label><input type="radio" value="1" v-model.number="ask.me"><span class="value">1</span></label>
                <label><input type="radio" value="2" v-model.number="ask.me"><span class="value">2</span></label>
                <label><input type="radio" value="3" v-model.number="ask.me"><span class="value">3</span></label>
                <label><input type="radio" value="4" v-model.number="ask.me"><span class="value">4</span></label>
                <label><input type="radio" value="5" v-model.number="ask.me"><span class="value">5</span></label>
                <label><input type="radio" value="6" v-model.number="ask.me"><span class="value">6</span></label>
                <label><input type="radio" value="7" v-model.number="ask.me"><span class="value">7</span></label>
                <label><input type="radio" value="8" v-model.number="ask.me"><span class="value">8</span></label>
                <label><input type="radio" value="9" v-model.number="ask.me"><span class="value">9</span></label>
                <label><input type="radio" value="10" v-model.number="ask.me"><span class="value">10</span></label>
            </div>
            Repeats <input class="form-control form-control-sm repeats" type="number" v-model.number="ask.repeats">
            Qty <input class="form-control form-control-sm qty" type="number" v-model.number="ask.qty">
        </div>
        <div slot="footer">
          <button class="btn btn-primary btn-sm modal-default-button" @click="SaveRun()">Save</button>
          <button class="btn btn-default btn-sm modal-default-button" @click="CloseRun()">Close</button>
        </div>
    </modal>

    <modal v-if="showExpenseModal" @close="showExpenseModal = false">
        <div slot="body">
            <input class="form-control form-control-sm qty expense" type="number" v-model.number="ask.exValue">
            <input class="form-control form-control-sm qty" type="text" v-model.number="ask.description" placeholder="Description">
            <select class="form-control form-control-sm" v-model="ask.description">
                <option>Invent</option>
                <option>Materials</option>
                <option>Job Costs</option>
            </select>
        </div>
        <div slot="footer">
            <button class="btn btn-primary btn-sm modal-default-button" @click="SaveExpense()">Save</button>
            <button class="btn btn-default btn-sm modal-default-button" @click="CloseExpense()">Close</button>
        </div>
    </modal>
    

</div>

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/component.open-market.js"></script>
<script src="/assets/js/component.type-select.js"></script>
<script src="/assets/js/component.modal.js"></script>
<script src="/assets/js/vue.filters.js"></script>
<script src="/assets/js/controller.constructions.js"></script>

<% template "base_foot" %>
<% end %>
