<% define "app/constructions/show.html" %>

<% template "base_head" .%>

<h5>
  <a href="/app/constructions">Constructions</a>
  &gt; [<% .construction.Model.Id %>]
</h5>

<div id="construction" class="construction" construction="<% .construction | Marshal %>" v-cloak>

    <img v-if="isLoading" class="loading" width="48" height="48" src="/assets/images/loading.gif">

    <div class="columns">
        <div class="bordered">
            <% template "app/constructions/_bpos.html" . %>
        </div>

        <div class="bordered">
            [% template "constructions/_components.html" . %]
        </div>

        <div class="w100p">
            <div class="bordered w100p">
                [% template "constructions/_store.html" . %]
            </div>
            <div class="bordered w100p">
                [% template "constructions/_materials.html" . %]
            </div>
            <div class="bordered w100p">
                [% template "constructions/_expenses.html" . %]
            </div>
        </div>
    </div>

    [% template "constructions/_store_modal.html" . %]
    [% template "constructions/_ask_number_modal.html" . %]
    [% template "constructions/_ask_bpo_runs_modal.html" . %]
    [% template "constructions/_ask_me_modal.html" . %]
    [% template "constructions/_ask_expense_modal.html" . %]

    <div class="popup">
        <div class="close">x&nbsp;</div>
        <div class="content">
            [% range $i, $c := .sso_chars %]
            <a href="#" ng-click="OpenMarket([% $c.Id %])">[% $c.Label %]</a><br/>
            [% end %]
        </div>
    </div>

</div>

<script src="/assets/js/vue.js"></script>
<script src="/assets/js/component.type-select.js"></script>
<script src="/assets/js/controller.constructions.js"></script>

<% template "base_foot" %>
<% end %>
