<% define "admin/jobs.html" %>
<% template "base_head" .%>

<h3 class="text-center">
  <a href="/admin/index">Admin Index</a>
  &gt; Jobs
</h3>

<ul class="list-group">
  <li class="list-group-item"><a class="btn btn-secondary" href="/admin/jobs/check_t2">Check over / under priced T2 </a></li>
  <li class="list-group-item"><a class="btn btn-secondary" href="/admin/jobs/load_transactions">Load Transactions</a></li>
  <li class="list-group-item"><a class="btn btn-secondary" href="/admin/jobs/load_market_data">Load Market Data</a></li>
</ul>


<% template "base_foot" %>
<% end %>
