<% define "admin/users.html" %>
<% template "base_head" .%>

<h3 class="text-center">
  <a href="/admin/index">Admin Index</a>
  &gt; Users
</h3>

<table class="table table-striped table-sm">
  <tr>
    <th>ID</th>
    <th>Chars</th>
    <th>Role</th>
  </tr>
  <% range $index, $u := .users %>
  <tr>
    <td><% $u.ID %></td>
    <td>
      <% range $index, $c := $u.Characters %>
        <span class="badge badge-light <% $u.Role %>"><%$c.Name%></span>
      <% end %>
    </td>
    <td>
      <span class="badge badge-light <% $u.Role %>"><% $u.Role %></span>
    </td>
  </tr>
  <% end %>
</table>

<% template "base_foot" %>
<% end %>
